@tailwind base;
@tailwind components;
@tailwind utilities;

.headercartas {
    background: url(./src/img/slides/cartas_mobile.avif) center no-repeat, url(./src/img/slides/cartas_mobile.webp) center no-repeat, url(./src/img/slides/cartas_mobile.jpg) center no-repeat ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
   

}

@media (min-width: 639px) {
    .headercartas {
        background-image: url(./src/img/slides/cartas.avif) , url(./src/img/slides/cartas.webp) , url(./src/img/slides/cartas.jpg) ;
        height: 60vh;
       
        
    }
}

.imagenback {
    background: url('./src/img/header1.png') white  center right no-repeat;
    background-size: 60% auto; 
    background-position-y: -30px;
}

.imagenback .sinimagenback{
    display: none;
}

@media screen and (max-width:1279px) { 
    .imagenback{ 
        background-size: 50% auto;
        background-image: url(./src/img/header1-m.avif), url(./src/img/header1-m.webp), url(./src/img/header1-m.png);
        background-position: auto  ;
        
    }
}

@media screen and (max-width:1023px) { 
    .imagenback{ 
        background-size: 60% auto;
        background-image: url(./src/img/header1-m.avif), url(./src/img/header1-m.webp), url(./src/img/header1-m.png);
    }}

@media screen and (max-width: 1024px) {
    .imagenback{
        background-image: none;
    }

    .imagenback .sinimagenback{
    display: block;
}
}

.ftp {
text-transform: uppercase;
font-size: 0.8rem;
color: #a9a9a9;
font-weight: 700;

}

