@tailwind base;
@tailwind components;
@tailwind utilities;

.imagenback {
    background: url('./src/img/header1.png') white  center right no-repeat;
    background-size: 60% auto; 
    background-position-y: -30px;
    
}

.imagenback .sinimagenback{
    display: none;
}

@media screen and (max-width:1279px) { 
    .imagenback{ 
        background-size: 50% auto;
        background-image: url(./src/img/header1-m.png);
        background-position: auto  ;
        
    }
    
    
}
@media screen and (max-width:1023px) { 
    .imagenback{ 
        background-size: 60% auto;
        background-image: url(./src/img/header1-m.png);
    }}

@media screen and (max-width: 1024px) {
    .imagenback{
        background-image: none;
    }

    .imagenback .sinimagenback{
    display: block;
}
}
